# Common
.git
.gitignore
*.md
.env
.env.*

backEnd/__pycache__
backEnd/**/__pycache__
backEnd/.pytest_cache
backEnd/.venv
backEnd/venv
backEnd/*.egg-info
backEnd/data/*.db
backEnd/data/*.sqlite

data_pipeline/__pycache__
data_pipeline/**/__pycache__
data_pipeline/.pytest_cache
data_pipeline/.venv
data_pipeline/venv
data_pipeline/*.egg-info
data_pipeline/data/*.db
data_pipeline/data/*.sqlite